#mid {
	margin:0;
	margin-top:2em;
	margin-bottom:2em;
}
#sidebar {
	border-left:1px #eee solid;
}
#footer {
	text-align: center;
	color:#999;
	margin-top:2em;
	margin-bottom:2em;
}
#content {
	padding-left:1em;
	padding-right:1em;
}
.team-photo {
	margin-top:1em;
	margin-bottom:1em;
	width:60%;
}
#learn-more {
	display:none;
}
.card-img-top {
	width:100%;
}
.fa {
	padding-right:1em;
}
.right {
	float:right;
}
.mobile-title {
	font-size:1.5em;
	color:#FFF;
}
.navbar{
	border-radius:0px;
	background-color:#932439;
}
.btn-outline-secondary:hover{
	background-color:transparent;
	border-color:#FFF;
}
.btn-primary{
	background-color:#932439;
	border-color:#932439;
}
.btn-primary:hover, .btn-primary:active, 
.btn-primary:focus, .btn-primary:hover:active{
	background-color:#7a1d2e;
	border-color:#7a1d2e;
}
.no-bottom{
	margin-bottom:0px;
}
.purple-link, .purple-link:visited, 
.purple-link:hover, .purple-link:active, 
.purple-link:hover:active, .purple-link:focus{
	color:#932439;
	text-decoration: none;
}
.event-header{
	width:100%;
	border-radius: 5px;
	border:1px solid #932439;
}
body{
	word-break:break-word;
}
.package-content{
	padding:0px;
	margin:0px;
}

/* Blinking Cursor CSS */

.blink_text {
	animation:1s blinker linear infinite;
  -webkit-animation:1s blinker linear infinite;
  -moz-animation:1s blinker linear infinite;
}

@-moz-keyframes blinker {  
 0% { opacity: 1.0; }
 50% { opacity: 0.0; }
 100% { opacity: 1.0; }
 }

@-webkit-keyframes blinker {  
 0% { opacity: 1.0; }
 50% { opacity: 0.0; }
 100% { opacity: 1.0; }
 }

@keyframes blinker {  
 0% { opacity: 1.0; }
 50% { opacity: 0.0; }
 100% { opacity: 1.0; }
 }
