.blink{
    animation-name: blinker;
    animation-duration: 1s;
    
    animation-iteration-count: infinite; 
}

@keyframes blinker{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    
}