.options {
    padding: 1em 10%;
    text-decoration: none;
    color: #932439;
    font: status-bar;
}

.option:visited {
    text-decoration: none;
}

.list {
    width: 25%;
}

.fullList {
    width: auto;
    height: 640px;
    padding-top: 70px;
}

.side{
    width: 100%;
    padding: 1.5em;
}

@media screen and (min-width: 550px){
    .mobile{
        display: none;
    }

    .desktop{
        display: block;
    }
}
@media screen and (max-width: 550px){
    .mobile{
        display: block;
    }

    .desktop{
        display: none;
    }
}

