.options {
    padding: 1em 10%;
    text-decoration: none;
    color: #932439;
    font: status-bar;
}

.option:visited {
    text-decoration: none;
}

.list {
    width: 25%;
}

.fullList {
    width: auto;
    height: 300px;
    padding-top: 70px;
}