@import url('https://fonts.googleapis.com/css?family=Quicksand');

.App {
  padding-top: 1em;
  font-family: 'Quicksand';
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: white;
  height: 150px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

a{
  text-decoration: none;
}

@import './ui/Stylesheets/Navigation.scss';
@import './ui/Stylesheets/EventList.scss';
@import './ui/Stylesheets/Main.scss';
