/*Universal box sizing */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  overflow: auto;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body{
  font-size: .75em;
  background: #F1F1F1;
  height: 100%;
  font-family: sans-serif;
  overflow: auto;
}

::-webkit-input-placeholder {
  color:#aaa;
  font-weight: 300;
}

::-moz-placeholder {
  color:#aaa;
  font-weight: 300;
}

:-ms-input-placeholder {
  color:#aaa;
  font-weight: 300;
}

input:-moz-placeholder {
  color:#aaa;
  font-weight: 300;
}
