{% extends "app/base.html" %}

{% block title %}Competitions{% endblock %}

{% block content %}

{% load static from staticfiles %}
<div class="jumbotron" style="padding-top:2em">
  <h3>CS Games</h3><br>
  <p><a href="http://csgames.org/corpo/" target="_blank">CS Games</a> is a programming competition that takes place once a year over an 
  entire weekend. There are over 20 teams that participate from all over Canada and the northeastern US. 
  Challenges include Artificial Intelligence, Operating Systems, Debugging, Algorithms and more. During 
  the months leading up to CS Games, SCS holds a number of tryouts to scope out Concordia’s most talented 
  programmers and build the strongest possible team to send to the competition.</p>
  <h4>CS Games 2016 – March 11-13, 2016 @ UQAM</h4>
  <p>Congratulations to Concordia who placed 4th overall out of 30 teams!</p>
  <p>Concordia placed in the top 3 for the following competitions:</p>
  <ul>
    <li>Extreme Programming – 1st Place</li>
    <li>Relay Programming – 1st Place</li>
    <li>Mobile Development – 3rd Place</li>
    <li>Participation – 1st Place</li>
  </ul>
  <img class="event-header" src="{% static "images/csgamesheader.jpg"%}" alt="csgames"><br>
  <p>Photo Credit: Hao Yin of<a href="https://www.facebook.com/VoltaicPhoto/" target="_blank">Voltaic Photo</a></p><br>
  <h3>IEEEXtreme</h3>
  <p><a href="http://www.ieee.org/membership_services/membership/students/competitions/xtreme/index.html" target="_blank">
  IEEEXtreme</a> is a 24-hour, worldwide, online coding 
  competition that challenges teams of 3 people to solve a set of programming problems. It begins at 00:00 
  UTC all around the world, which is 8:00PM Montreal time. SCS, in collaboration with 
  <a href="http://ieee.concordia.ca/" target="_blank">IEEE Concordia</a>, sends some of its most skilled 
  and dedicated programmers to represent Concordia at the event.
  <h4>IEEEXtreme 10.0 – October 21-22, 2016 @ ETS</h4>
  <p>Congratulations to Concordia’s participants on an excellent showing at the 2016 competition!</p>
  <img class="event-header" src="{% static "images/ieeeheader.jpg"%}" alt="ieee"><br>
  <p>Photo Credit: <a href="https://www.facebook.com/dciets/?ref=page_internal" target="_blank">
  DCI – Délégation des compétitions en informatique de l’ÉTS</a></p>
  <p>For more information on competitions, you can contact our VP Competitions at 
  <a href="mailto:competitions.scs@ecaconcordia.ca" target="_blank">competitions.scs@ecaconcordia.ca</a>.</p>

</div>

{% endblock %}