{% extends "app/base.html" %}

{% block title %}SCS Team{% endblock %}

{% block content %}

<div class="jumbotron" style="padding-top:2em">
	{% load static from staticfiles %}
  <h3>SCS Current Team</h3><br>
	<div class="card-deck-wrapper">
	  <div class="card-deck">
	    <div class="card">
	      <img class="card-img-top" src="{% static "images/execs/nicole.jpg"%}" alt="nicole">
	      <div class="card-block">
	        <h6 class="card-title">President</h6>
	        <p class="card-text">Nicole Cappadocia-Assaly</p>
	        <p class="card-text"><small class="text-muted">
	        Email: president.scs@ecaconcordia.ca<br>
	        Major: Computer Engineering<br><br>
	        Co-ordinates our biweekly meetings to plan the 
	        wonderful events you’ll long to attend. I make sure that the team knows what they should be 
	        doing and discuss how to do so. However, my primary responsibility is to search for new ways 
	        to improve the society, and lead it where I want it to go. Behind the scenes, I delegate tasks, 
	        to fulfill the plans I’ve set out to accomplish.</small></p>
	      </div>
	    </div>
	    <div class="card">
	      <img class="card-img-top" src="{% static "images/execs/erin.jpg"%}" alt="Card image cap">
	      <div class="card-block">
	        <h6 class="card-title">VP Communications</h6>
	        <p class="card-text">Erin Benderoff</p>
	        <p class="card-text"><small class="text-muted">
	        Email: communications.scs@ecaconcordia.ca<br>
					Major: Software Engineering<br><br>
	        I act as the main point of contact between SCS 
	        and other students, staff, companies and professionals. I manage the SCS mailing list (which 
	        you can subscribe to here!), where we send out a weekly newsletter letting you know about our 
	        upcoming events and any other news or announcements. Furthermore, if there’s anything that 
	        needs to be done for a certain event, such as booking rooms, finding sponsors, getting permissions,
	         etc, I take care of it.</small></p>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="card-deck-wrapper">
		<div class="card-deck">
	    <div class="card">
	      <img class="card-img-top" src="{% static "images/execs/thinesh.jpg"%}" alt="Card image cap">
	      <div class="card-block">
	        <h6 class="card-title">VP Academics</h6>
	        <p class="card-text">Thinesh Thuraisingam</p>
	        <p class="card-text"><small class="text-muted">
	        Email: academic.scs@ecaconcordia.ca<br>
					Major: Computer Engineering<br><br>
	        I am in charge of organizing various tutorials 
	        that SCS will be hosting throughout the year. Expect tutorials involving Java, Python, C/C++, 
	        web development and various other cool technologies. I am also responsible for anything that 
	        will help your academic life at Concordia, which includes inviting speakers to come talk to 
	        us about what they do. I am also always available to give information about academic related 
	        subjects or to just have a nice chat. I will also be involved in the organization of the 1st 
	        and 2nd year Coding Competition at Concordia, and I will be making sure everyone is informed 
	        about great places and events to attend, like CUSEC and CS Games.</small></p>
	      </div>
	    </div>
	    <div class="card">
	      <img class="card-img-top" src="{% static "images/execs/tobi.jpg"%}" alt="Card image cap">
	      <div class="card-block">
	        <h6 class="card-title">VP Internal</h6>
	        <p class="card-text">Tobi Décary-Larocque</p>
	        <p class="card-text"><small class="text-muted">
	        Email: internal.scs@ecaconcordia.ca<br>
	        Major: Computer Science<br><br>
	        As VP Internal , I’m responsible for maintaining
	        SCS’s infrastructure, which includes our B-Annex office (B-307), along with the computers and 
	        equipment inside it. This year, I’m in charge of renovating both our office and the cool tools 
	        we use so that you can get to try new technologies and write some of the most awesome software 
	        at our coding nights (or whenever you feel like stopping by our office! ). Personally, I’m a 
	        dedicated gamer and an avid Linux user. So if you want to learn some command-line-fu or just 
	        have a question about SCS, feel free to ask!</small></p>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="card-deck-wrapper">
		<div class="card-deck">
	    <div class="card">
	      <img class="card-img-top" src="{% static "images/execs/jacob.jpg"%}" alt="Card image cap">
	      <div class="card-block">
	        <h6 class="card-title">VP Projects</h6>
	        <p class="card-text">Jacob Gagné</p>
	        <p class="card-text"><small class="text-muted">
	        Email: projects.scs@ecaconcordia.ca<br>
	        Major: Software Engineering<br><br>
	        As a student, what matters most for your resume are 
	        your projects and what you accomplish in addition to all the high grades you are going to get. 
	        That’s where I come in – I am here to help you work on projects that will boost up your resume and 
	        coding skills. Throughout the year, I will be organizing SCS’s famous coding nights. Each coding 
	        night will be different. You’ll have a chance to work on a new technology, collaborate with great 
	        developers and most importantly have fun.</small></p>
	      </div>
	    </div>
	    <div class="card">
	      <img class="card-img-top" src="{% static "images/execs/brendan.jpg"%}" alt="Card image cap">
	      <div class="card-block">
	        <h6 class="card-title">VP Finance</h6>
	        <p class="card-text">Brendan McGarry</p>
	        <p class="card-text"><small class="text-muted">
	        Email: finance.scs@ecaconcordia.ca<br>
					Major: Software Engineering<br><br>
	        As VP Finance, I am responsible for SCS’s sponsorship 
	        and financial affairs. On top of ensuring that our events receive the funding and budgeting they need,
	        I am excited to be able to promote relationships between SCS, prospective sponsors and the talented 
	        and enthusiastic students who attend our events and may be looking to engage with and learn more about 
	        our sponsors and event co-hosts.</small></p>
	      </div>
	    </div>
		</div>
	</div>
	<div class="card-deck-wrapper">
		<div class="card-deck">
	    <div class="card">
	      <img class="card-img-top" src="{% static "images/execs/javier.jpg"%}" alt="Card image cap">
	      <div class="card-block">
	        <h6 class="card-title">VP Competitions</h6>
	        <p class="card-text">Javier E. Fajardo</p>
	        <p class="card-text"><small class="text-muted">
	        Email: competitions.scs@ecaconcordia.ca<br>
					Major: Computer Engineering<br><br>
	        Interested in Graphics, Game Development, 
	        Operation Systems and Embedded Systems</small></p>
	      </div>
	    </div>
	    <div class="card">
	      <img class="card-img-top" src="{% static "images/execs/frankie.jpg"%}" alt="Card image cap">
	      <div class="card-block">
	        <h6 class="card-title">VP Social</h6>
	        <p class="card-text">Frankie Valela</p>
	        <p class="card-text"><small class="text-muted">
	        Email: social.scs@ecaconcordia.ca<br>
	        Major: Computer Science<br><br>
	        I’m Frankie and I’ll be your VP Social for SCS this year. 
	        What that means is that I’ll be organizing events such as movie nights and Lizard Lounge. I hope to see 
	        you there!</small></p>
	      </div>
	    </div>
		</div>
	</div>
  <hr class="my-2">
  <p> In addition to executives, directors help run society activities and contribute their ideas to make the
  organization better for the students.</p>
  <div class="card-deck-wrapper">
		<div class="card-deck">
	    <div class="card">
	      <img class="card-img-top" src="{% static "images/execs/nick.jpg"%}" alt="Card image cap">
	      <div class="card-block">
	        <h6 class="card-title">Director<br>Academics</h6>
	        <p class="card-text">Nicholas Sabelli</p>
	      </div>
	    </div>
	    <div class="card">
	      <img class="card-img-top" src="{% static "images/execs/sam.png"%}" alt="Card image cap">
	      <div class="card-block">
	        <h6 class="card-title">Director<br>Communications</h6>
	        <p class="card-text">Samantha Kerr</p>
	      </div>
	    </div>
	    <div class="card">
	      <img class="card-img-top" src="{% static "images/execs/lori.jpg"%}" alt="Card image cap">
	      <div class="card-block">
	        <h6 class="card-title">Director<br>Communications</h6>
	        <p class="card-text">Lori Dalkin</p>
	      </div>
	    </div>
		</div>
	</div>
	<div class="card-deck-wrapper">
		<div class="card-deck">
	    <div class="card">
	      <img class="card-img-top" src="{% static "images/execs/bryce.jpg"%}" alt="Card image cap">
	      <div class="card-block">
	        <h6 class="card-title">Director<br>CS Games</h6>
	        <p class="card-text">Bryce Drewery Schoeler</p>
	      </div>
	    </div>
	    <div class="card">
	      <img class="card-img-top" src="{% static "images/execs/alexis.jpg"%}" alt="Card image cap">
	      <div class="card-block">
	        <h6 class="card-title">Director<br>Competitions</h6>
	        <p class="card-text">Alexis Grondin</p>
	      </div>
	    </div>
	    <div class="card">
	      <img class="card-img-top" src="{% static "images/execs/gen.jpg"%}" alt="Card image cap">
	      <div class="card-block">
	        <h6 class="card-title">Director<br>Social</h6>
	        <p class="card-text">Gen Brisebois</p>
	      </div>
	    </div>
		</div>
	</div>
  <hr class="my-2">
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/get-involved" role="button" id="btn-learn-more">Get Involved</a>
  </p>
</div>

{% endblock %}