{% extends "app/base.html" %}

{% block title %}Events{% endblock %}

{% block content %}

{% load static from staticfiles %}
<div class="jumbotron" style="padding-top:2em">
  <h3>SCS Tutorials</h3><br>
  <img class="event-header" src="{% static "images/tutorialheader.png"%}" alt="tutorials"><br><br>
  <p>Each year, SCS organizes various tutorials, including:</p>
  <ul>
  	<li><strong>Introduction to Git:</strong> Git is a version control system used widely in software development. In this 
  	workshop, you will learn the basics of Git and acquire skills that will greatly benefit you in your career.</li>
  	<li><strong>Unix Fundamentals via the Shell:</strong> An introduction to Linux via Bash, the default shell 
  	(command line interface) on Mac and most Linux distributions. In this workshop, you will learn various 
  	commands, file system basics, pipe-and-filter model, and the basics of scripting and automation.</li>
  	<li><strong>Python Workshop:</strong> An introduction to the basics of Python, a high-level, general 
  	purpose, dynamic programming language. This course covers the built-in types and data structures, 
  	functions, and how to write basic scripts.</li>
  	<li><strong>Android Tutorial:</strong> Interested in mobile development? This workshop provides an 
  	introduction to Android development and give you the tools to get started on building your first Android
  	application.</li>
  	<li><strong>Unity Tutorial:</strong> Are you interested in game development? Learn how to build your first
  	game with Unity, a popular and fun-to-use cross-platform game engine.</li>
  </ul>
  <p>For more information on our tutorials, you can contact our VP Academic at 
  <a href="mailto:academic.scs@ecaconcordia.ca" target="_blank">academic.scs@ecaconcordia.ca</a>.</p><br>

  <h3>SCS Algorithm Time</h3><br>
  <img class="event-header" src="{% static "images/algotimeheader.png"%}" alt="tutorials"><br><br>
  <p>Algorithm Time is a 2-hour event that happens every week; at each session, we will solve problems 
  of different levels and, at the end, discuss the various methods and algorithms that can be used to 
  solve the problems.</p>
	<p>This event will help you sharpen your problem solving skills and prepare you for coding questions 
	that you will see during job interviews! So, come practice your skills with us and also have some fun! 
	All skill levels are welcome, and volunteers will be there to help if you need it!</p>
	<p>For more information, visit the <a href="https://www.facebook.com/algorithm.time/" target="_blank">Algorithm Time Facebook page</a> or contact our VP Projects at 
	<a href="mailto:projects.scs@ecaconcordia.ca" target="_blank">projects.scs@ecaconcordia.ca</a>.</p><br>

  <h3>SOEN/COEN/ELEC/COMP Clothing Sale</h3><br>
  <img class="event-header" src="{% static "images/clothingheader.png"%}" alt="clothes"><br><br>
  <p>It’s happening! SCS has some hot new clothing items for SOEN, COEN, ELEC, and CompSci students!</p>
  <p>We’ll be selling hoodies and crewnecks tailored to each program, as well as the SCS “Code-Blooded” 
  t-shirts first introduced by the SCS executives!</p>
  <p>Please see our <a href="/calendar">calendar</a> and stay tuned on Facebook for the dates of the next sale.</p><br>

	<h3>Lizard Lounge</h3>
	<p>Lizard Lounge is a weekly social event hosted by a different ECA society each week. Every semester,
	 SCS hosts one edition of this event, and it is not to be missed. Come hang out with awesome people 
	 and make new friends, complete with drinks, snacks, games, and more!</p>
	<p>For more information on Lizard Lounge and other SCS social events, you can contact our VP Social at 
	<a href="mailto:social.scs@ecaconcordia.ca" target="_blank">social.scs@ecaconcordia.ca</a>.</p><br>

</div>

{% endblock %}