{% extends "app/base.html" %}

{% block title %}SCS FAQ{% endblock %}

{% block content %}

<div class="jumbotron" style="padding-top:2em">
	{% load static from staticfiles %}
  <h3>Get Involved</h3><br>
  <p>Want to get involved with the Software Engineering and Computer Science Society at Concordia?
	Follow us to find out more about our activities including programming tutorials, guest speakers, 
	competitions, hackathons, parties and more!</p><br>
	<div class="row">
		<div class="list-group in-jubotron col-sm-12 push-md-2 col-md-8 push-lg-3 col-lg-6" style="padding-left:15px;">
		  <a href="{{mailingList}}" target="_blank" class="list-group-item list-group-item-action">
		  	<i class="fa fa-envelope" aria-hidden="true"></i>Mailing List</a>
		  <a href="https://www.facebook.com/groups/scsconcordia/" target="_blank" 
		  	class="list-group-item list-group-item-action">
		  	<i class="fa fa-facebook" aria-hidden="true"></i>Facebook Group</a>
		  <a href="https://www.facebook.com/scsconcordia" target="_blank" 
		  	class="list-group-item list-group-item-action">
		  	<i class="fa fa-facebook" aria-hidden="true"></i>Facebook Page</a>
		  <a href="https://twitter.com/scsconcordia" target="_blank" 
		  	class="list-group-item list-group-item-action">
		  	<i class="fa fa-twitter" aria-hidden="true"></i>Twitter Page</a>
		</div>
	</div>
</div>

{% endblock %}