{% extends "app/base.html" %}

{% block title %}Past Executives{% endblock %}

{% block content %}

<div class="jumbotron" style="padding-top:2em">
	{% load static from staticfiles %}
  <h3>SCS Past Executives</h3><br>

  <div id="accordion" role="tablist" aria-multiselectable="true">
	<div class="card no-bottom">
	    <div class="card-header" role="tab" id="heading2016">
	      <h5 class="mb-0">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2016" class="purple-link"
	        aria-expanded="true" aria-controls="collapse2016">
	          Year 2016 - 2017
	        </a>
	      </h5>
	    </div>

	    <div id="collapse2016" class="collapse show" role="tabpanel" aria-labelledby="heading2016">
	      <div class="card-block">
	        <p>
	        <strong>President:</strong> Nicole Cappadocia-Assaly<br>
	        <strong>VP Academic:</strong> Thinesh Thuraisingam<br>
	        <strong>VP Communications:</strong> Erin Benderoff<br>
	        <strong>VP Competitions:</strong> Javier E. Fajardo<br>
	        <strong>VP Finance:</strong> Brendan McGarry<br>
	        <strong>VP Internal:</strong> Tobi Décary-Larocque<br>
	        <strong>VP Projects:</strong> Jacob Gagné<br>
	        <strong>VP Social:</strong> Frankie Valela<br></p>
	        <hr><p>
	        <strong>Director Academic:</strong> Nicholas Sabelli<br>
			<strong>Director Communications:</strong> Samantha Kerr<br>
			<strong>Director Communications:</strong> Lori Dalkin<br>
			<strong>Director CS Games:</strong> Bryce Drewery Schoeler<br>
			<strong>Director Competitions:</strong> Alexis Grondin<br>
			<strong>Director Social:</strong> Gen Brisebois<br>
			<strong>Director Sponsorship:</strong> Adam Galati<br>
			<strong>Director Projects:</strong> Arielle Evans<br>
			<strong>Director Tutorials:</strong> Vineet Koppalkar<br>
			<strong>First-Year Rep for CS:</strong> Andres Hernandez<br>
			<strong>First-Year Rep for SOEN:</strong> Ribal Aladeeb<br>
			<strong>Chair Emeritus:</strong> Natacha Gabbamonte<br>
			</p>
	      </div>
	    </div>
	  </div>
	  
	  <div class="card no-bottom">
	    <div class="card-header" role="tab" id="heading2015">
	      <h5 class="mb-0">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2015" class="purple-link"
	        aria-expanded="true" aria-controls="collapse2015">
	          Year 2015 - 2016
	        </a>
	      </h5>
	    </div>

	    <div id="collapse2015" class="collapse show" role="tabpanel" aria-labelledby="heading2015">
	      <div class="card-block">
	        <p>
	        <strong>President:</strong> Natacha Gabbamonte<br>
	        <strong>VP Academic:</strong> Nicole Cappadocia-Assaly<br>
	        <strong>VP Communications:</strong> Alex Dussault<br>
	        <strong>VP Competitions:</strong> Amine Mhedbi<br>
	        <strong>VP Finance:</strong> Mohamed Abdelbaky<br>
	        <strong>VP Internal:</strong> Javier E. Fajardo<br>
	        <strong>VP Projects:</strong> Elias Haroun<br>
	        <strong>VP Social:</strong> Reza Madabadi<br></p>
	        <hr><p>
	        <strong>Director Academic:</strong> Thinesh Thuraisingam<br>
					<strong>Director Communications:</strong> Gen Brisebois<br>
					<strong>Director Marketing:</strong> Syrine Krim<br>
					<strong>Director Projects:</strong> Amir Bawab<br>
					</p>
	      </div>
	    </div>
	  </div>

	  <div class="card no-bottom">
	    <div class="card-header" role="tab" id="heading2014">
	      <h5 class="mb-0">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2014" class="purple-link"
	        aria-expanded="true" aria-controls="collapse2014">
	          Year 2014 - 2015
	        </a>
	      </h5>
	    </div>

	    <div id="collapse2014" class="collapse show" role="tabpanel" aria-labelledby="heading2014">
	      <div class="card-block">
	        <p>
	        <strong>President:</strong> Geneviève Chafouleas<br>
	        <strong>VP Academic:</strong> Natacha Gabbamonte<br>
	        <strong>VP Communications:</strong> Alex Dussault<br>
	        <strong>VP Competitions:</strong> Dave Gurnsey<br>
	        <strong>VP Finance:</strong> Amine Mhedhbi<br>
	        <strong>VP Internal:</strong> Javier E. Fajardo<br>
	        <strong>VP Projects:</strong> Gabriel Gheorghian<br>
	        <strong>VP Social:</strong> Patrick Nguyen<br>
					</p>
	      </div>
	    </div>
	  </div>

	  <div class="card no-bottom">
	    <div class="card-header" role="tab" id="heading2013">
	      <h5 class="mb-0">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2013" class="purple-link"
	        aria-expanded="true" aria-controls="collapse2013">
	          Year 2013 - 2014
	        </a>
	      </h5>
	    </div>

	    <div id="collapse2013" class="collapse show" role="tabpanel" aria-labelledby="heading2013">
	      <div class="card-block">
	        <p>
	        <strong>President:</strong> Josh Whatley<br>
	        <strong>VP Academic:</strong> Sam Assaf<br>
	        <strong>VP Communications:</strong> Sophia Thomas<br>
	        <strong>VP Competitions:</strong> Geneviève Chafouleas<br>
	        <strong>VP Finance:</strong> Rami Kuret<br>
	        <strong>VP Internal:</strong> Anas Ambri<br>
	        <strong>VP Projects:</strong> Amine Mhedhbi<br>
	        <strong>VP Social:</strong> Patrick Nguyen<br>
					</p>
	      </div>
	    </div>
	  </div>

	  <div class="card no-bottom">
	    <div class="card-header" role="tab" id="heading2012">
	      <h5 class="mb-0">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2012" class="purple-link"
	        aria-expanded="true" aria-controls="collapse2012">
	          Year 2012 - 2013
	        </a>
	      </h5>
	    </div>

	    <div id="collapse2012" class="collapse show" role="tabpanel" aria-labelledby="heading2012">
	      <div class="card-block">
	        <p>
	        <strong>President:</strong> Yoni Levi<br>
	        <strong>VP Academic:</strong> Ramez Dabbas<br>
	        <strong>VP Communications:</strong> Amine Mhedbi<br>
	        <strong>VP Competitions:</strong> Josh Whatley<br>
	        <strong>VP Finance:</strong> Tomas Valettini<br>
	        <strong>VP Marketing:</strong> Rami Kuret<br>
	        <strong>VP Projects:</strong> Anas Ambri<br>
	        <strong>VP Social:</strong> Deven Collette<br>
					</p>
	      </div>
	    </div>
	  </div>

	  <div class="card no-bottom">
	    <div class="card-header" role="tab" id="heading2011">
	      <h5 class="mb-0">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2011" class="purple-link"
	        aria-expanded="true" aria-controls="collapse2011">
	          Year 2011 - 2012
	        </a>
	      </h5>
	    </div>

	    <div id="collapse2011" class="collapse show" role="tabpanel" aria-labelledby="heading2011">
	      <div class="card-block">
	        <p>
	        <strong>President:</strong> Sydney Swaine-Simon<br>
	        <strong>VP Academic:</strong> Siddartha Kattohu<br>
	        <strong>VP Communications:</strong> Yoni Levi<br>
	        <strong>VP Competitions:</strong> Josh Whatley<br>
	        <strong>VP Finance:</strong> Anas Ambri<br>
	        <strong>VP Marketing:</strong> Sophia Thomas<br>
	        <strong>VP Projects:</strong> Sagar Patel<br>
	        <strong>VP Social:</strong> Daniel Ricci<br>
					</p>
	      </div>
	    </div>
	  </div>

	  <div class="card no-bottom">
	    <div class="card-header" role="tab" id="heading2010">
	      <h5 class="mb-0">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2010" class="purple-link"
	        aria-expanded="true" aria-controls="collapse2010">
	          Year 2010 - 2011
	        </a>
	      </h5>
	    </div>

	    <div id="collapse2010" class="collapse show" role="tabpanel" aria-labelledby="heading2010">
	      <div class="card-block">
	        <p>
	        <strong>President:</strong> Alexi Ionesu<br>
	        <strong>VP Academic:</strong> Sydney Swaine-Simon<br>
	        <strong>VP Communications:</strong> Yoni Levi<br>
	        <strong>VP Finance:</strong> Mathieu Dumas Savard<br>
	        <strong>VP Marketing:</strong> Sophia Thomas<br>
	        <strong>VP Social:</strong> Siddartha Kattohu<br>
					</p>
	      </div>
	    </div>
	  </div>

	  <div class="card no-bottom">
	    <div class="card-header" role="tab" id="heading2009">
	      <h5 class="mb-0">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2009" class="purple-link"
	        aria-expanded="true" aria-controls="collapse2009">
	          Year 2009 - 2010
	        </a>
	      </h5>
	    </div>

	    <div id="collapse2009" class="collapse show" role="tabpanel" aria-labelledby="heading2009">
	      <div class="card-block">
	        <p>
	        <strong>President:</strong> Kyle Sama<br>
	        <strong>VP Academic:</strong> Henk Boom<br>
	        <strong>VP Finance:</strong> Matt Gallant<br>
	        <strong>VP Marketing:</strong> Sandy Woo<br>
	        <strong>VP Social:</strong> Yoni Levi<br>
					</p>
	      </div>
	    </div>
	  </div>
	  
	  <div class="card no-bottom">
	    <div class="card-header" role="tab" id="heading2008">
	      <h5 class="mb-0">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2008" class="purple-link"
	        aria-expanded="true" aria-controls="collapse2008">
	          Year 2008 - 2009
	        </a>
	      </h5>
	    </div>

	    <div id="collapse2008" class="collapse show" role="tabpanel" aria-labelledby="heading2008">
	      <div class="card-block">
	        <p>
	        <strong>Founder:</strong> Erik Miller<br>
					</p>
	      </div>
	    </div>
	  </div>
	  
	</div>
</div>

{% endblock %}