{% extends "app/base.html" %}

{% block title %}Past Executives{% endblock %}

{% block content %}

<div class="jumbotron" style="padding-top:2em">
	{% load static from staticfiles %}
  <h3>SCS Past Executives</h3><br>

  <div id="accordion" role="tablist" aria-multiselectable="true">
	  <div class="card no-bottom">
	    <div class="card-header" role="tab" id="headingOne">
	      <h5 class="mb-0">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="purple-link"
	        aria-expanded="true" aria-controls="collapseOne">
	          Year 2015 - 2016
	        </a>
	      </h5>
	    </div>

	    <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
	      <div class="card-block">
	        <p>
	        <strong>President:</strong> Natacha Gabbamonte<br>
	        <strong>VP Academic:</strong> Nicole Cappadocia-Assaly<br>
	        <strong>VP Communications:</strong> Alex Dussault<br>
	        <strong>VP Competition:</strong> Amine Mhedbi<br>
	        <strong>VP Finance:</strong> Mohamed Abdelbaky<br>
	        <strong>VP Internal:</strong> Javier E. Fajardo<br>
	        <strong>VP Projects:</strong> Elias Haroun<br>
	        <strong>VP Social:</strong> Reza Madabadi<br></p>
	        <hr><p>
	        <strong>Director Academic:</strong> Thinesh Thuraisingam<br>
					<strong>Director Communications:</strong> Gen Brisebois<br>
					<strong>Director Marketing:</strong> Syrine Krim<br>
					<strong>Director Projects:</strong> Amir Bawab<br>
					</p>
	      </div>
	    </div>
	  </div>

	  <div class="card no-bottom">
	    <div class="card-header" role="tab" id="headingTwo">
	      <h5 class="mb-0">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="purple-link"
	        aria-expanded="true" aria-controls="collapseTwo">
	          Year 2014 - 2015
	        </a>
	      </h5>
	    </div>

	    <div id="collapseTwo" class="collapse show" role="tabpanel" aria-labelledby="headingTwo">
	      <div class="card-block">
	        <p>
	        <strong>President:</strong> Geneviève Chafouleas<br>
	        <strong>VP Academic:</strong> Natacha Gabbamonte<br>
	        <strong>VP Communications:</strong> Alex Dussault<br>
	        <strong>VP Competition:</strong> Dave Gurnsey<br>
	        <strong>VP Finance:</strong> Amine Mhedhbi<br>
	        <strong>VP Internal:</strong> Javier E. Fajardo<br>
	        <strong>VP Projects:</strong> Gabriel Gheorghian<br>
	        <strong>VP Social:</strong> Patrick Nguyen<br>
					</p>
	      </div>
	    </div>
	  </div>

	  <div class="card no-bottom">
	    <div class="card-header" role="tab" id="headingThree">
	      <h5 class="mb-0">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="purple-link"
	        aria-expanded="true" aria-controls="collapseThree">
	          Year 2013 - 2014
	        </a>
	      </h5>
	    </div>

	    <div id="collapseThree" class="collapse show" role="tabpanel" aria-labelledby="headingThree">
	      <div class="card-block">
	        <p>
	        <strong>President:</strong> Josh Whatley<br>
	        <strong>VP Academic:</strong> Sam Assaf<br>
	        <strong>VP Communications:</strong> Sophia Thomas<br>
	        <strong>VP Competition:</strong> Geneviève Chafouleas<br>
	        <strong>VP Finance:</strong> Rami Kuret<br>
	        <strong>VP Internal:</strong> Anas Ambri<br>
	        <strong>VP Projects:</strong> Amine Mhedhbi<br>
	        <strong>VP Social:</strong> Patrick Nguyen<br>
					</p>
	      </div>
	    </div>
	  </div>

	  <div class="card no-bottom">
	    <div class="card-header" role="tab" id="headingFour">
	      <h5 class="mb-0">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" class="purple-link"
	        aria-expanded="true" aria-controls="collapseFour">
	          Year 2012 - 2013
	        </a>
	      </h5>
	    </div>

	    <div id="collapseFour" class="collapse show" role="tabpanel" aria-labelledby="headingFour">
	      <div class="card-block">
	        <p>
	        <strong>President:</strong> Yoni Levi<br>
	        <strong>VP Academic:</strong> Ramez Dabbas<br>
	        <strong>VP Communications:</strong> Amine Mhedbi<br>
	        <strong>VP Competition:</strong> Josh Whatley<br>
	        <strong>VP Finance:</strong> Tomas Valettini<br>
	        <strong>VP Marketing:</strong> Rami Kuret<br>
	        <strong>VP Projects:</strong> Anas Ambri<br>
	        <strong>VP Social:</strong> Deven Collette<br>
					</p>
	      </div>
	    </div>
	  </div>

	  <div class="card no-bottom">
	    <div class="card-header" role="tab" id="headingFive">
	      <h5 class="mb-0">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive" class="purple-link"
	        aria-expanded="true" aria-controls="collapseFive">
	          Year 2011 - 2012
	        </a>
	      </h5>
	    </div>

	    <div id="collapseFive" class="collapse show" role="tabpanel" aria-labelledby="headingFive">
	      <div class="card-block">
	        <p>
	        <strong>President:</strong> Sydney Swaine-Simon<br>
	        <strong>VP Academic:</strong> Siddartha Kattohu<br>
	        <strong>VP Communications:</strong> Yoni Levi<br>
	        <strong>VP Competition:</strong> Josh Whatley<br>
	        <strong>VP Finance:</strong> Anas Ambri<br>
	        <strong>VP Marketing:</strong> Sophia Thomas<br>
	        <strong>VP Projects:</strong> Sagar Patel<br>
	        <strong>VP Social:</strong> Daniel Ricci<br>
					</p>
	      </div>
	    </div>
	  </div>

	  <div class="card no-bottom">
	    <div class="card-header" role="tab" id="headingSix">
	      <h5 class="mb-0">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix" class="purple-link"
	        aria-expanded="true" aria-controls="collapseSix">
	          Year 2010 - 2011
	        </a>
	      </h5>
	    </div>

	    <div id="collapseSix" class="collapse show" role="tabpanel" aria-labelledby="headingSix">
	      <div class="card-block">
	        <p>
	        <strong>President:</strong> Alexi Ionesu<br>
	        <strong>VP Academic:</strong> Sydney Swaine-Simon<br>
	        <strong>VP Communications:</strong> Yoni Levi<br>
	        <strong>VP Finance:</strong> Mathieu Dumas Savard<br>
	        <strong>VP Marketing:</strong> Sophia Thomas<br>
	        <strong>VP Social:</strong> Siddartha Kattohu<br>
					</p>
	      </div>
	    </div>
	  </div>

	  <div class="card no-bottom">
	    <div class="card-header" role="tab" id="headingSeven">
	      <h5 class="mb-0">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" class="purple-link"
	        aria-expanded="true" aria-controls="collapseSeven">
	          Year 2009 - 2010
	        </a>
	      </h5>
	    </div>

	    <div id="collapseSeven" class="collapse show" role="tabpanel" aria-labelledby="headingSeven">
	      <div class="card-block">
	        <p>
	        <strong>President:</strong> Kyle Sama<br>
	        <strong>VP Academic:</strong> Henk Boom<br>
	        <strong>VP Finance:</strong> Matt Gallant<br>
	        <strong>VP Marketing:</strong> Sandy Woo<br>
	        <strong>VP Social:</strong> Yoni Levi<br>
					</p>
	      </div>
	    </div>
	  </div>
	  
	  <div class="card no-bottom">
	    <div class="card-header" role="tab" id="headingEight">
	      <h5 class="mb-0">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapseEight" class="purple-link"
	        aria-expanded="true" aria-controls="collapseEight">
	          Year 2008 - 2009
	        </a>
	      </h5>
	    </div>

	    <div id="collapseEight" class="collapse show" role="tabpanel" aria-labelledby="headingEight">
	      <div class="card-block">
	        <p>
	        <strong>Founder:</strong> Erik Miller<br>
					</p>
	      </div>
	    </div>
	  </div>
	  
	</div>
</div>

{% endblock %}